{% extends "base.html" %}
{% block add_item %}
    <div class="row">
        <div class="col">
            <h2 class="text-center mt-4 add_item">Add Items</h2>
            <form action="add_todo" method="POST">

              <div class="form-group mt-4 mb-2">
                  <input type="text" name="todo" placeholder="ex. suraj gholap" class="form-control">
              </div>
              <div class="text-center">
                  <button type="submit" class="btn btn-primary  mb-2"><i class="fa fa-plus"></i> Add </button>
              </div>
            </form>
            </div>
        </div>    

<div class="row mt-4">

    <div class="col">
            {% if todo_items|length > 0 %}
                <a href="#" class="list-group-item list-group-item-action active">
                    My TODOS
                </a>
                {% endif %}
            {% for list in todo_items %}
                    <form action="delete_todo/{{ list.id }}" method="post">
                    <li class="list-group-item mt-2"> {{ list.text}} 
                    <button type="submit" class="fa fa-trash-o btn btn-warning center float-right"> </button>
                </form>
                </li>
            {% endfor %}
          </div>
    </div>

</div>
{% endblock add_item %}